include base.pug

+slide("テンプレート", "nonsako", "tomorrow-night-eighties")
  +group('pre_title')
    +md-page('はじまり').
      スライドテンプレート

      のんさこ / nonsako
  +group('fin')
    +md-page.
      ![終](public/images/owari.png)
